@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style : normal;
    src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

.card{
	height:100%;
}

.image-container{
    height: 225px;
    width: 405px;
}
.image-container-100{
    height: auto;
    width: 100%;
}

.card-body{
	flex:none;
}

.center-image{
	display:block;
	margin:auto;
}

.hr-container{
    height: auto;
    position: absolute;
	width:100%;
	bottom:0px;
}

.hr-align{
/*     position: absolute; */
/*     bottom: 10px; */
    width: 100%;
}

.button-align{
    /*position: absolute;*/
    bottom: 20px;
	width: 40%;
	margin-bottom: 30px!important;
}

.button-container{
    position:relative;
    height:100%;
	display: flex;
  	justify-content: flex-end;
  	flex-direction: column;
}


input[value='1']{
    font-family: "FontAwesome", 'sans-serif';
    content: "\f004";
}

.one-column{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.custom-card{
    margin: 0 auto;
    max-width: 90%;
}

.custom-image-horizontal{
    height: auto;
    width: 100%;
    object-fit: cover;
}
@media (min-width: 1440px) {
    .custom-size {
        width: 90%;
        margin: 0 auto;
        height: 100%;
    }
}

.custom-image-vertical{
    width: 400px;
    height: 200px;
    object-fit: fill;
}
@media (min-width: 1440px) {
    .custom-size {
        width: 90%;
        margin: 0 auto;
        height: 100%;
    }
    .custom-image-vertical{
        width: 450px;
        height: 200px;
        object-fit: fill;
    }
}
@media (min-width: 1680px) {
    .custom-size {
        width: 90%;
        margin: 0 auto;
        height: 100%;
    }
    .custom-image-vertical{
        /*width: auto;*/
        width: 500px;
        height: 250px;
        object-fit: fill;
    }
}
#calendar-posts{
    border: 2px solid green;
}

.qa:nth-child(3),
.qa:nth-child(6),
.qa:nth-child(9){
    border:none!important;
}
#horizontal, #vertical{
    font-size: 1.6rem;
    border: none;
    background-color: rgba(0,0,0,0);
    color: #dee2e6;
}
#horizontal:focus, #vertical:focus{
    outline: none!important;
    border: none;
    background-color: rgba(0,0,0,0);
    color: black;
}

.custom-borders__one_column{
    border: none;
    /*border-top: 1px solid rgba(0,0,0,.125);*/
    /*border-bottom: 1px solid rgba(0,0,0,.125);*/
}
.border-remove{
    border: none;
}

.custom__card-body{
    padding: 0rem 1.25rem 0rem 1.25rem!important;
}

#future-events, #past-events{
    cursor: pointer;
}
.custom-padding:not(:first-of-type){
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/*Loader*/
.loader {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px;
}
.loader-container {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 20%;
    margin: 0 auto;
    display: inline-block;
    height: 150px;
    /*width: 200px;*/
    cursor: pointer;
}
.one {
    /*position: absolute;*/
    /*z-index: 1;*/
    /*left: 50%;*/
    background-color: #5797fb;
    border-radius: 50%;
    animation: loader1Animation 1s ease-in-out infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.one:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 19px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffffff;
}
@keyframes loader1Animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



div#loader {
    position: absolute;
    z-index: 1;
    left: 50%;
    height: 51px;
    width: 51px;
    margin: 20px auto;
    border-radius: 50%;
    border: dashed 1px black;
    -webkit-animation-name: loader-spin;
    animation-name: loader-spin;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
@-webkit-keyframes loader-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.current{
    background-color: #5797fb!important;
    border-radius: 25px;
    padding: 5px 8px!important;
    color: white!important;
    /*box-shadow: 1px 1px rgba(113, 113, 113, 0.7);*/
}

