.hover-blue__white:hover{
    background-color: #5797fb!important;
    color: white!important;
}
.hover-blue__white:hover a{
    color: white!important;
}
.hover-blue:hover{
    color: #5797fb!important;
}

.hover-black:hover{
    color: black!important;
}
.hover-white:hover{
    color: white!important;
}
