
.custom-banner{
    word-spacing: 2px;
}
.size1{
    font-size: 2.5em;
}
.size2{
    font-size: 1.7em;
}
.size3{
    font-size: 1.4em;
}
#tv {
    display: inline-block;
    font-size: 50%;
}

@media only screen and (min-width: 600px) {
    #banner-logo {
        display: block;
        max-width: 7% !important;
    }
}

@media only screen and (max-width: 600px) {
    .custom-size-banner{
        display: block;
        font-size: 30px;
    }
}


