.custom-more{
    font-size: 0.7em;
}
.btn-light{
    background-color: #ececec;
    border-radius: unset;
}
.btn-buy{
   padding: 10px 40px;
    border-radius: unset;
    color: white;
    background-color: #5e40e3;
}
a:focus{
    box-shadow: none!important;
}