.backgroundColor-white{
    background-color: white;
}
.backgroundColor-blue{
    background-color: #5797fb;
}
.color-blue{
    background-color: #5797fb;
}
.color-black{
    color: black;
}
.color-black__holder::placeholder{
    color: black;
}