.backgroundColor-white {
    background-color: white !important;
}

.backgroundColor-blue {
    background-color: #5797fb !important;
}

.color-blue {
    background-color: #5797fb !important;
}

.color-black {
    color: black !important;
}

.color-black__holder::placeholder {
    color: black !important;
}

.color-white {
    color: white !important;
}

.text-muted-custom {
    color: #cdcdcd !important;
}
