.w-90 {
    max-width: 100%;
    width: 90%;
}

.w-60 {
    max-width: 100%;
    width: 60%;
}


@media only screen and (max-width: 600px) {
    .w-90 {
        width: 100%;
    }
    .w-60 {
        width: 100%;
    }
}


.hover-blue{
    cursor: pointer;
}

.no-outline:active{
    outline: none!important;
}

header {
    /*border: 1px solid black;*/
}

.hide{
    display: none;
}
a{
    color: black;
}




